body{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: cadetblue;
}

@media screen and (max-width: 640px){

}
/*
https://pt.wix.com/website-template/view/html/1893?originUrl=https%3A%2F%2Fpt.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fportfolio-cv%2Fresumes-cvs&tpClick=view_button&esi=346f3ed3-de0d-4f19-b5d5-e13068b10fc8
*/
/*
https://www.mateusmoraes.com.br/
*/